div.gameboard{
    width:600px;
    height: 600px;
    margin: auto;
    background-color: lightgrey;
    margin-top: 10px;
    position: relative;
}



div.base{
    width: 80px;
    height: 80px;
    background-color: rgb(238, 153, 25);
    position: absolute;
    top: 43%;
    left:43%;
}

div.base :hover{
    background-color: green;
}



div.random{
    width: 45px;
    height: 45px;
    background-color: red;
}